:root {
  --english-violet: #533a71ff;
  --lavender-pink: #f0a6caff;
  --hover-effect: #ff007b;
  --pink-lavender: #efc3e6ff;
  --tickle-me-pink: #ff82a9;
  --honolulu-blue: #067bc2ff;
  --walnut-brown: #5e503fff;
  --white: white;
  --box-shadow-1: 0px 5px 7px 0px rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", Arial;
  color: #333;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-content: center;
  justify-items: center;
  background: var(--pink-lavender);
  padding: 1rem;
  width: 100vw;
  height: 100vh;
}

.time-explaination {
  text-align: center;
  font-size: 24px;
  background: var(--english-violet);
  color: var(--pink-lavender);
  border-radius: 6px;
  padding: 0.5rem;
  width: 6rem;
}
.time-discription {
  font-weight: bold;
}
.redgreen-text {
  padding: 1rem;
}
.clockside-list {
  list-style-position: inside;
  padding: 1rem 0;
}
.clockside-list > li {
  padding: 0.5rem 0;
}
.clockside-notes {
  font-style: italic;
  font-size: 1rem;
  padding-bottom: 1rem;
}
.clock-lesson-btn {
  display: block;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  background: var(--english-violet);
  border-radius: 6px;
  text-align: center;
}

a {
  color: var(--honolulu-blue);
  text-decoration: none;
}
a:hover {
  cursor: pointer;
  color: var(--english-violet);
}

.calendar {
  display: flex;
  flex-direction: column;
  background-color: var(--lavender-pink);
  border-radius: 1rem;
}

h1 {
  text-align: center;
  padding: 1rem 0;
  font-size: 2rem;
}

.details-popup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  position: fixed;
  margin: 0 1rem;
  background-color: var(--pink-lavender);
  border-radius: 7px;
  z-index: 5;
  box-shadow: var(--box-shadow-1);
  animation: fade-up 0.5s;
}

.details-popup-btn {
  padding: 0.5rem;
  background-color: var(--english-violet);
  color: var(--white);
  border: none;
  cursor: pointer;
  width: 100%;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.year-title {
  text-align: center;
  font-weight: bolder;
  font-size: 2rem;
}

.month {
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.5;
  filter: blur(5px);
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: entry 200px;
}

@keyframes fade-in {
  to {
    opacity: 1;
    filter: blur(0);
  }
}

.month.active {
  transform: scale(1);
  opacity: 1;
}

.month-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: scroll;
  height: calc(100vh - 6rem);
  padding-bottom: 1rem;
}

.month-title {
  text-align: center;
  background: var(--english-violet);
  color: var(--pink-lavender);
  padding: 1.2rem 0;
}

.week-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  gap: 0.5rem;
  margin: 1rem;
}
.week-container:hover {
  cursor: default;
}
.day-title {
  padding: 0.5rem;
}
.saturday {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--english-violet);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: var(--white);
}

.days-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem;
  padding: 0 1rem;
}
.h4-days {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: var(--pink-lavender);
  border: 2px solid var(--pink-lavender);
  font-size: 1rem;
  border-radius: 6px;
  width: 90px;
  height: 86px;
  cursor: pointer;
}
.h4-days:hover {
  animation: wiggle 0.5s;
}

@keyframes wiggle {
  0% { transform: rotate(5deg); }
  25% { transform: rotate(-5deg); }
  50% { transform: rotate(5deg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.modernDate {
  font-weight: normal;
  font-size: small;
}
.h4-days:hover {
  cursor: default;
}
.none-days {
  visibility: hidden;
}
.sign-days {
  color: var(--white);
  background: var(--walnut-brown);
  border: 2px solid var(--walnut-brown);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 2.5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--english-violet);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-left: 1rem;
}

.digital {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 360px;
}
.clock-img {
  width: 100%;
}
.container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 360px;
}
.container > div {
  position: absolute;
  display: flex;
}

.container .seconds_arm {
  z-index: 7;
}
.container .minutes_arm {
  z-index: 6;
}
.container .hours_arm {
  z-index: 5;
}
.clock-side-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feast-days {
  border: 2px solid var(--english-violet);
}
.feast-days:hover {
  cursor: pointer;
}
.passover {
  background: var(--english-violet);
  color: var(--white);
}

.current-day {
  display: flex;
  justify-content: center;
  align-content: center;
  background: var(--honolulu-blue);
  color: var(--white);
  translate: 0 -6px;
  border: none;
  box-shadow: var(--box-shadow-1);
  border-radius: 1rem;
}

.current-month-title {
  background: var(--honolulu-blue);
  color: var(--white);
  translate: 0 -6px;
  box-shadow: var(--box-shadow-1);
  margin: 0 1rem;
}

.side-bar {
  width: 360px;
}
.sidebar-title-container {
  text-align: center;
  padding: 1rem;
  background: var(--english-violet);
  color: var(--white);
  border-radius: 6px;
  margin-bottom: 1rem;
}

.days-count {
  border: 2px dashed var(--english-violet);
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 6px;
  font-weight: bold;
}
.day-of-week {
  margin-bottom: 1rem;
}
.gregorian {
  font-size: larger;
  font-weight: bold;
  color: var(--honolulu-blue);
}
.side-bar-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.side-bar-tabs {
  display: flex;
  background-color: var(--english-violet);
  color: var(--white);
  font-weight: bold;
}
.side-bar-tabs li {
  list-style: none;
  padding: 0.5rem;
  transition: all 0.5s ease;
  width: 120px;
  text-align: center;
}
.side-bar-tabs li:hover {
  cursor: pointer;
  background-color: var(--hover-effect);
  color: var(--white);
}
#luminaries {
  background-color: #808080;
  color: black;
  cursor: default;
}
.side-bar-tabs li.active {
  background-color: var(--lavender-pink);
  color: black;
}

.side-bar-main #events-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  align-items: center;
  height: calc(100vh - 247px);
  overflow-y: auto;
}
#events-container .feast-item {
  background-color: var(--lavender-pink);
  padding: 1rem;
  width: 100%;
}
#events-container h3 {
  text-transform: uppercase;
}
#events-container .feast-alt-name {
  padding-top: 0.3rem;
  font-weight: normal;
}
#events-container .feast-date {
  font-weight: bold;
}

#events-container .luminaries {
  background-color: var(--lavender-pink);
  padding: 1rem;
  border-radius: 1rem;
}
#events-container .luminaries > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.side-bar-main-content {
  animation: fade-up 0.5s;
}
.side-bar-main-content.error-container {
  font-size: larger;
  font-weight: bold;
  color: var(--white);
  margin-top: 2rem;
  background-color: red;
}
.side-bar-main-content.error-container .error {
  padding: 1rem;
}
.side-bar-main-content.error-container button {
  padding: 0.5rem;
  border: none;
  background-color: var(--english-violet);
  color: var(--white);
}
.side-bar-main-content.error-container button:hover {
  background-color: var(--lavender-pink);
  color: black;
  cursor: pointer;
}
.side-bar-main-content.feast-item .ancient-calendar {
  margin-top: 1rem;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.side-bar-main-content > div img {
  width: 150px;
}

.menu-container {
  display: none;
  font-size: 1.5rem;
}
.fa-solid.fa-xmark {
  display: none;
}
.daily-events {
  padding-bottom: 1rem;
}




.loader {
  margin-top: 3rem;
  -webkit-animation: spin 1.5s linear infinite; /* Safari */
  animation: spin 1.5s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}




@media screen and (max-width: 1440px) {
  .wrapper {
    display: flex;
  }
  .side-bar {
    padding-right: 1rem;
  }
}

@media screen and (max-width: 1280px) {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
  }
  .side-bar {
    padding-right: 1rem;
  }

  .time {
    display: none;
    padding: 0;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    width: 768px;
    height: 100%;
    justify-content: center;
    gap: 1rem;
    margin: auto;
  }
  .month-container {
    height: 100%;
  }
  .side-bar {
    order: 2;
    padding: 0;
  }
  .main {
    order: 1;
  }
  .time {
    display: flex;
    order: 3;
    padding: 0;
  }
}

@media screen and (max-width: 430px) {
  .h4-days {
    padding: 0.5rem;
    width: 100%;
    height: 100%;
  }

  .side-bar {
    position: sticky;
    top: 0;
    width: 100vw;
    background-color: rgba(239, 195, 230);
    z-index: 8;
    padding: 0 1rem;
    order: 1;
  }
  .side-bar-main {
    display: none;
  }
  .show-side-bar {
    display: flex;
  }
  .sidebar-title-container {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
  }
  .sidebar-month-title {
    font-size: large;
  }
  .wrapper {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .menu-container {
    display: block;
  }
}

@media screen and (max-width: 320px) {
  .h4-days {
    padding: 0;
  }
  .current-day {
    border-radius: 50%;
  }
  .clock-img {
    width: 320px;
  }
  .container div img {
    height: 320px;
  }
  .sidebar-month-title {
    font-size: small;
  }
  .side-bar-tabs li {
    width: 105px;
    font-size: 0.9rem;
  }
}
